name: CI-CD (GitOps)

on:
  push:
    branches: [ "main" ]

jobs:
  build_push_deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        shell: powershell
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ket1:latest .

      - name: Push Docker image
        shell: powershell
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/ket1:latest

      - name: Deploy to Kubernetes
        shell: powershell
        run: |
          kubectl apply -f https://raw.githubusercontent.com/robinhoodhud34/ket2/main/manifest.yml
